@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-background text-on-surface font-body selection:bg-primary/30;
  }
}

.glass-panel {
  background: rgba(38, 38, 39, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.neon-border-cyan {
  box-shadow: 0 0 15px rgba(0, 244, 254, 0.1);
  border: 1px solid rgba(0, 244, 254, 0.2);
}
.neon-border-magenta {
  box-shadow: 0 0 15px rgba(222, 142, 255, 0.1);
  border: 1px solid rgba(222, 142, 255, 0.2);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #484849;
  border-radius: 10px;
}
